In [1]:
import pandas as pd

### read in data

In [2]:
df = pd.read_csv('../data/reviews.csv')
df.head()

                                              Review     Labels
0  excellent staff and customer service, very cle...  deceptive
1  my stay at this hotel was one of the best i ha...  deceptive
2  we just got back from a trip to chicago for my...  deceptive
3  i have to say that the hard rock hotel in chic...  deceptive
4  my husband and i recently stayed at the hard r...  deceptive

In [3]:
print('See the distribution of decision')
df.Labels.value_counts()

See the distribution of decision

deceptive    800
truthful     800
Name: Labels, dtype: int64

### clean the labels: 0 - Reject, 1 - Accept

In [4]:
def clean_label(decision):
    if decision == 'Reject':
        return 'Reject'
    return 'Accept'

In [5]:
#df.decision = df.decision.apply(lambda x: clean_label(x))
df = df[['Labels','Review']]
df.head()

      Labels                                             Review
0  deceptive  excellent staff and customer service, very cle...
1  deceptive  my stay at this hotel was one of the best i ha...
2  deceptive  we just got back from a trip to chicago for my...
3  deceptive  i have to say that the hard rock hotel in chic...
4  deceptive  my husband and i recently stayed at the hard r...

In [6]:
df = df.sample(frac=1).reset_index(drop=True)
df.head()

      Labels                                             Review
0  deceptive  staying at the sofitel was one of the less ple...
1   truthful  i have stayed at the omni off an on over the y...
2   truthful  i just had a conference there. they have bed b...
3   truthful  perfect location, clean and courteous staff al...
4  deceptive  i frequently have business meetings in downtow...

### split data into train and test

In [7]:
df_train = df.iloc[:1120]
df_val = df.iloc[1120:]

In [8]:
df_train.Labels.value_counts()

deceptive    575
truthful     545
Name: Labels, dtype: int64

In [9]:
df_val.Labels.value_counts()

truthful     255
deceptive    225
Name: Labels, dtype: int64

In [10]:
df_train.to_csv('../data/train.tsv', sep='\t', index=False, header=None)
df_val.to_csv('../data/test.tsv', sep='\t', index=False, header=None)