In [1]:
import pandas as pd

### read in data

In [2]:
df = pd.read_csv('../data/politics/ExtractedTweets.csv')
df = df.drop(columns=['Handle'])
df.head()

      Party                                              Tweet
0  Democrat  Today, Senate Dems vote to #SaveTheInternet. P...
1  Democrat  RT @WinterHavenSun: Winter Haven resident / Al...
2  Democrat  RT @NBCLatino: .@RepDarrenSoto noted that Hurr...
3  Democrat  RT @NALCABPolicy: Meeting with @RepDarrenSoto ...
4  Democrat  RT @Vegalteno: Hurricane season starts on June...

In [3]:
print('See the distribution of Parties')
df.Party.value_counts()

See the distribution of Parties

Republican    44392
Democrat      42068
Name: Party, dtype: int64

### clean the labels: 0 - Reject, 1 - Accept

In [ ]:
def clean_label(decision):
    if decision == 'Reject':
        return 'Reject'
    return 'Accept'

In [ ]:
#df.decision = df.decision.apply(lambda x: clean_label(x))
df = df[['Labels','Review']]
df.head()

In [4]:
df = df.sample(frac=1).reset_index(drop=True)
df.head()

        Party                                              Tweet
0    Democrat  Since Columbine, more than 208,000 American ch...
1    Democrat  Kathy Castor Leads Democrats in Demanding Scot...
2    Democrat                       #tbt https://t.co/aQ7h61VpfM
3  Republican  #TimeToBuild RT @AP: BREAKING: Nebraska Suprem...
4    Democrat  Our team was honored to attend @ASUArmyROTC's ...

### split data into train and test

In [5]:
df_train = df.iloc[:60522]
df_val = df.iloc[60522:]

In [6]:
df_train.Party.value_counts()

Republican    31276
Democrat      29246
Name: Party, dtype: int64

In [7]:
df_val.Party.value_counts()

Republican    13116
Democrat      12822
Name: Party, dtype: int64

In [8]:
df_train.replace(r'\s', ' ', regex = True, inplace = True)
df_val.replace(r'\s', ' ', regex = True, inplace = True)
df_train.to_csv('../data/train.tsv', sep='\t', index=False, header=None)
df_val.to_csv('../data/test.tsv', sep='\t', index=False, header=None)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)