In [15]:
import pandas as pd
import emoji

### read in data

In [16]:
df = pd.read_csv('../data/politics/ExtractedTweets.csv')
df = df.drop(columns=['Handle'])
df.head()

      Party                                              Tweet
0  Democrat  Today, Senate Dems vote to #SaveTheInternet. P...
1  Democrat  RT @WinterHavenSun: Winter Haven resident / Al...
2  Democrat  RT @NBCLatino: .@RepDarrenSoto noted that Hurr...
3  Democrat  RT @NALCABPolicy: Meeting with @RepDarrenSoto ...
4  Democrat  RT @Vegalteno: Hurricane season starts on June...

In [17]:
print('See the distribution of Parties')
df.Party.value_counts()

See the distribution of Parties

Republican    44392
Democrat      42068
Name: Party, dtype: int64

### clean the labels: 0 - Reject, 1 - Accept

In [18]:
def clean_label(party):
    if party == 'Republican':
        return emoji.emojize(':elephant:')
    return emoji.emojize(':horse_face:')
df['Party'] = df['Party'].apply(lambda x : clean_label(x))

In [19]:
df = df.sample(frac=1).reset_index(drop=True)
df.head()

  Party                                              Tweet
0     üê¥  RT @FalmouthL1397: @USRepKeating thank you for...
1     üêò  Ready to join @BillHemmer on @AmericaNewsroom ...
2     üêò  Met with @AmbDermer today to discuss @POTUS‚Äôs ...
3     üêò  In just a few minutes, I will be joining POTUS...
4     üê¥  Great to be joining students, faculty and staf...

### split data into train and test

In [20]:
df_train = df.iloc[:60522]
df_val = df.iloc[60522:]

In [21]:
df_train.Party.value_counts()

üêò    31025
üê¥    29497
Name: Party, dtype: int64

In [22]:
df_val.Party.value_counts()

üêò    13367
üê¥    12571
Name: Party, dtype: int64

In [23]:
df_train.replace(r'\s', ' ', regex = True, inplace = True)
df_val.replace(r'\s', ' ', regex = True, inplace = True)
df_train.to_csv('../data/train.tsv', sep='\t', index=False, header=None)
df_val.to_csv('../data/test.tsv', sep='\t', index=False, header=None)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)